div.step-modal {
  // TODO: 置中訊息
  & > div.center-message {
    position: fixed;
    top: 30vh;
    left: 0;
    width: 100vw;
    max-width: none !important;
    z-index: 100;

    div.tip-content {
      font-size: 2rem;

      & > i.tip-icon {
        margin-top: .5rem;
  
        &.rotate {
          animation: game-tip-icon-rotate infinite 2s linear;
        }
      }
  
      & > span.waiting::after {
        content: "";
        animation: game-tip-waiting infinite 2s linear;
      }
    }
  }

  // TODO: 卡片資訊
  & > div.card.card-info {
    margin: 5vh 2.5vh;
    width: 280px;
  }
}

@keyframes game-tip-icon-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes game-tip-waiting {
  0% { content: ""; }
  33% { content: " ."; }
  66% { content: " .."; }
  100% { content: " ..."; }
}
