div.territory {
  div.alert-message.row {
    position: fixed;
    top: 30vh;
    left: 1rem;
    width: 100vw;

    & > div.waiting-tip {
      position: relative;
      font-weight: bolder;
      text-align: center;
  
      &::before {
        content: "";
        display: block;
        text-align: left;
        font-size: 2rem;
        animation: waiting infinite 2s linear;
      }
  
      &::after {
        content: "\f110";
        position: absolute;
        display: inline-block;
        top: 1.25rem;
        right: 1.25rem;
        font: normal normal normal 2rem/1 FontAwesome;
        animation: rotate360 infinite 2s linear;
      }
    }
  }

  div.zone.container.col {
    position: relative;
    padding-top: 33.33333% !important;

    & > div.row {
      position:  absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .bingo-number {
        background: rgba(0, 0, 0, 0);
        color: inherit;
        height: 33.33333% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        &:not(button) {
          cursor: grab;
        }
      }
    }
  }
}

@keyframes rotate360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes waiting {
  0% { content: "Waiting"; }
  33% { content: "Waiting ."; }
  66% { content: "Waiting .."; }
  100% { content: "Waiting ..."; }
}
